<footer class="bg-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>{{ site_name }}</h5>
                <p>FastAPI로 만든 쇼핑몰입니다.</p>
            </div>
            <div class="col-md-4">
                <h5>고객센터</h5>
                <p>평일 09:00 - 18:00</p>
                <p>1234-5678</p>
            </div>
            <div class="col-md-4">
                <h5>링크</h5>
                <ul class="list-unstyled">
                    <li><a href="/about">회사소개</a></li>
                    <li><a href="/terms">이용약관</a></li>
                    <li><a href="/privacy">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center mb-0">&copy; 2024 {{ site_name }}. All rights reserved.</p>
    </div>
</footer>
